<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
	<system.web>
		<globalization culture="es-MX" uiCulture="es-MX" />		
	</system.web>
	
	<system.webServer>
		<handlers>			
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
		</handlers>		
		<aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" 
					forwardWindowsAuthToken="false" startupTimeLimit="3600" requestTimeout="23:00:00" hostingModel="inprocess" />
		<httpProtocol>
			<customHeaders>
				<!-- Politicas de seguridad -->

				<!-- Remover los que no quiero que se muestren en el response por seguridad -->
				<remove name="X-Powered-By" />
				<remove name="X-Powered-By-Plesk" />

				<!-- Remover los que agregare para asegurar que sean mis configuraciones las que se apliquen -->
				<remove name="Referrer-Policy" />
				<remove name="X-XSS-Protection" />
				<remove name="Strict-Transport-Security" />
				<remove name="X-Content-Type-Policy" />
				<add name="Referrer-Policy" value="no-referrer-when-downgrade" />
				<add name="X-XSS-Protection" value="1; mode=block" />
				<add name="Strict-Transport-Security" value="max-age-31536000" />
				<add name="X-Content-Type-Policy" value="nosniff" />

			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>